{% extends "main/header.html" %}

{% block content %}

<div class="row">
    {% for series, p_one in p_ones.items %}

    <div class="col s12 m6, l4">
        <a href="{{p_one}}" , style="color: black;">
            <div class="card hoverable">
                <div class="card-content">
                    <div class="card-title">{{series.series}}</div>
                    <p>{{series.summary}}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}